<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id del cliente</th>
            <th>Nombre Cliente</th>
            <th>Telefono</th>
            <th>email</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for cliente in clientes %}
        <tr">
            <td scope="col">{{ cliente.idCliente }}</td>
            <td scope="col">{{ cliente.nombreCliente }}</td>
            <td scope="col">{{ cliente.telefono }}</td>
            <td scope="col">{{ cliente.correoElectronico }}</td>
            <td scope="col"></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
