<table class="table table-sm">
    <thead class="table-active">
        <tr>
            <th>Id de Evento</th>
            <th>Nombre Cliente</th>
            <th>Descripcion</th>
            <th>Ubicacion</th>
            <th>Fecha Inicio</th>
            <th>Fecha Final</th>
            <th>Estado</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="x in eventos">   
            <td scope="col">{{ x.idEvento }}</td>
            <td scope="col">{{ x.nombreCliente }}</td>
            <td scope="col">{{ x.descripcionUbicacion }}</td>
            <td scope="col">{{ x.descripcionEvento }}</td>
            <td scope="col">{{ x.fechaInicio }}</td>
            <td scope="col">{{ x.fechaFin }}</td>
            <td scope="col">{{ x.estado }}</td>
            <td scope="col"></td>
        </tr>
    </tbody>
</table>
